In [1]:
import pandas as pd
import numpy as np
import os

from ddf_utils.str import to_concept_id
from ddf_utils.index import create_index_file

In [2]:
source = 'source/kilm16.xlsx'

In [6]:
data = pd.read_excel(source, skiprows=2, sheetname=2)

In [7]:
data.head()

,Country (code),Country,Region,Sub-region (broad),Sub-region (detailed),Income group (code),Income group,Year,GDP per person engaged (constant 1990 US$ at PPP),GDP per person engaged (1990=100),...,Repository,Source - GDP (code),Source - GDP,Source - Employment (code),Source - Employment,Source - Hours worked (code),Source - Hours worked,GDP,Employment,Hours worked
0,ALB,Albania,Europe and Central Asia,"Northern, Southern and Western Europe",Southern Europe,III,Upper-middle income,1980,6484,98.800003,...,"The Conference Board, Total Economy database",UN,"UN National Accounts main Aggregates Database,...",Haver,"Haver analytics, Labor Force Survey data",NaN,NaN,NaN,NaN,NaN
1,ALB,Albania,Europe and Central Asia,"Northern, Southern and Western Europe",Southern Europe,III,Upper-middle income,1981,6425,97.900002,...,"The Conference Board, Total Economy database",UN,"UN National Accounts main Aggregates Database,...",Haver,"Haver analytics, Labor Force Survey data",NaN,NaN,NaN,NaN,NaN
2,ALB,Albania,Europe and Central Asia,"Northern, Southern and Western Europe",Southern Europe,III,Upper-middle income,1982,6294,95.900002,...,"The Conference Board, Total Economy database",UN,"UN National Accounts main Aggregates Database,...",Haver,"Haver analytics, Labor Force Survey data",NaN,NaN,NaN,NaN,NaN
3,ALB,Albania,Europe and Central Asia,"Northern, Southern and Western Europe",Southern Europe,III,Upper-middle income,1983,6276,95.699997,...,"The Conference Board, Total Economy database",UN,"UN National Accounts main Aggregates Database,...",Haver,"Haver analytics, Labor Force Survey data",NaN,NaN,NaN,NaN,NaN
4,ALB,Albania,Europe and Central Asia,"Northern, Southern and Western Europe",Southern Europe,III,Upper-middle income,1984,6306,96.099998,...,"The Conference Board, Total Economy database",UN,"UN National Accounts main Aggregates Database,...",Haver,"Haver analytics, Labor Force Survey data",NaN,NaN,NaN,NaN,NaN

In [8]:
data.columns

Index(['Country (code)', 'Country', 'Region', 'Sub-region (broad)',
       'Sub-region (detailed)', 'Income group (code)', 'Income group', 'Year',
       'GDP per person engaged (constant 1990 US$ at PPP)',
       'GDP per person engaged (1990=100)',
       'GDP per hour worked (constant 1990 US$ at PPP)',
       'GDP per hour worked (1990=100)', 'Repository (code)', 'Repository',
       'Source - GDP (code)', 'Source - GDP', 'Source - Employment (code)',
       'Source - Employment', 'Source - Hours worked (code)',
       'Source - Hours worked', 'GDP', 'Employment', 'Hours worked'],
      dtype='object')